<div class="types">
  <app-wrapper>
    <span class="types__form-section" appOutletLeft>
      <h4>Normal Types</h4>
      <form style="display: block" [formGroup]="typeDetail">
        <label for="countryInput">Country</label>
        <app-type
          id="countryInput"
          [required]="true"
          [types]="countryTypes"
          formControlName="country"
        ></app-type>
      </form>
    </span>
    <span class="types__form-section" appOutletRight>
      <h4>Custom Types</h4>
      <form style="display: block" [formGroup]="customTypeDetail">
        <label for="countryInput">Items</label>
        <app-custom-select
          [options]="items"
          (optionSelected)="onOptionSelected($event)"
        ></app-custom-select>
      </form>
    </span>
    <span class="types__buttonBar" appOutletButton>
      <button
        mat-raised-button
        color="primary"
        class="types__buttonBar__save-button"
        (click)="saveDetails()"
      >
        Save
      </button>
      <button
        mat-raised-button
        class="types__buttonBar__reset-button"
        (click)="resetForm()"
      >
        Reset
      </button>
    </span>
  </app-wrapper>
</div>
