<div>
  <app-wrapper>
    <span appOutletLeft class="group-box-component">
      <app-group-box [groupName]="leftBox">
        <form style="display: block" [formGroup]="formDetail">
          <label for="nameInput">Name</label>
          <input id="nameInput" type="text" formControlName="name" />
          <label for="emailInput">Email</label>
          <input id="emailInput" type="text" formControlName="email" />
        </form>
      </app-group-box>
    </span>
    <span appOutletRight class="group-box-component">
      <app-group-box [groupName]="rightBox">
        <form style="display: block" [formGroup]="formDetail">
          <label for="nameInput">Name</label>
          <input id="nameInput" type="text" formControlName="name" />
          <label for="emailInput">Email</label>
          <input id="emailInput" type="text" formControlName="email" />
        </form>
      </app-group-box>
    </span>
  </app-wrapper>
</div>
