:root {
  --color-g-dark: #015c32;
  --color-g-100: #39b44a;
  --color-b-100: #27a9e0;
  --color-b-dark: #193893;
  --color-night-grey: #ebeded;
  --color-background: white;
  --color-g-20: #ecf1ec;
  --color-g-40: #c4d5c4;

  //border and background colors
  --color-n-borders: #e5e5e5;
  --color-n-background: #f9f9f9;
  --color-n-night: #333333;

  //dark
  --color-g-night: #143524;
}
