/* You can add global styles to this file, and also import other style files */
@import './space.scss';
@import './colors.scss';
@import './font-size.scss';
@import './border-size.scss';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Noto Sans';
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
